@use 'sass:math';
@use 'src/utils/input-variables' as v;

.wrapper {
  position: relative;
  width: v.$width;
  $height: v.$height * .8;
  height: $height;

  padding: 0;
  margin: 0 0 v.$ungrouped-margin;
  background: v.$background;

  appearance: none;
  border: none;
  border-radius: v.$border-radius;

  display: grid;
  grid: {
    template: {
      columns: 1fr 1fr;
    };
  };

  .selector {
    position: absolute;
    $padding: 2px;
    top: $padding;
    left: $padding;

    width: calc(#{v.$width} / 2 - #{$padding});
    height: calc(#{$height} - #{$padding} * 2);

    background: lighten(v.$background, 15%);
    border-radius: calc(#{v.$border-radius} - #{$padding});
    box-shadow: 0 0 6px transparentize(black, .8);

    transition: transform .3s cubic-bezier(.4, 0, .1, 1);

    &.right {
      transform: translateX(calc(#{v.$width} / 2 - #{$padding}));
    }
  }

  .switchInput {
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;

    font-size: 12px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:last-child {
      left: auto;
      right: 0;
    }

    .radio {
      display: none;
    }

    .label {

    }
  }
}
