$width: 224px;
$height: 2rem;
$border-radius: .7rem;

$grouped-margin: 2rem;
$ungrouped-margin: .6rem;
$label-indent: calc(#{$border-radius} * 1 / 3);

$background: #444;
$background-active: #555;

%disabled {
  pointer-events: none;
  opacity: .6;
}

%label {
  display: block;
  margin-bottom: .5em;
  padding-left: $label-indent;

  font-size: 12px;
  letter-spacing: .02em;
  opacity: .6;

  &%disabled {
    opacity: .6 * .6;
  }
}
