@use 'sass:map';
@use 'src/utils/input-variables' as v;
@use '../../utils/transition-group' as tg;

.errorMessage {
  position: absolute;
  $left-right-margin: .5rem;
  width: calc(#{v.$width} - #{$left-right-margin} * 2);
  margin: -1rem $left-right-margin 0;

  padding: 1em;
  box-sizing: border-box;

  font-size: 10px;
  background: mix(red, #222, 40%);
  border-radius: v.$border-radius;

  z-index: 100;

  transform-origin: top center;
  $transition: .8s cubic-bezier(.1, 0, 0, 1);
  $transition-out: 1.4s cubic-bezier(.8, 0, .9, 1);
  transition-property: opacity, transform;

  $in-state: (opacity: 1, transform: scale(1));
  $out-state: (opacity: 0, transform: scale(.85));

  @include tg.in-out-transition($in-state, $out-state, $transition, $transition-out) using($props) {
    opacity: map.get($props, opacity);
    transform: map.get($props, transform);
  }
}
