.numberInput {
  $width: 224px;
  width: $width;
  height: 2rem;

  background: #444;
  color: currentColor;
  border-radius: .7rem;

  overflow: hidden;

  transition: background-color .3s ease;

  &.focus {
    background: #555;
  }

  .innerWrapper {
    width: $width;
    $weird-offset: 3%;
    height: 100% + $weird-offset;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .button, .input {
    appearance: none;
    background: none;
    border: none;
    color: currentColor;
  }

  $button-width: 3rem;

  .input {
    width: calc(#{$width} - #{$button-width} * 2);

    text-align: center;
    outline: none;

    z-index: 1;
  }

  $gradient: transparentize(white, .8), cubic-bezier(0, 0, .5, 1), transparent;
  $text-position: .9rem;

  .button {
    position: relative;
    width: $button-width;
    height: 100%;

    padding: 0 0 0 #{$text-position};
    text-align: left;

    cursor: pointer;
    opacity: .5;

    transition: opacity .3s ease;

    &:hover {
      opacity: 1;
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 300%;
      left: 0;
      top: 0;

      transform: scaleX(.5);
      transform-origin: left;
      opacity: 0;

      transition: .3s ease;
      transition-property: transform, opacity;

      //noinspection CssInvalidFunction
      background: linear-gradient(to right, #{$gradient});
    }

    &:hover:after {
      transform: scaleX(1);
      opacity: .5;
    }

    &:active:after {
      opacity: 1;
      transition-duration: 0s;
    }
  }

  .add.button {
    padding: 0 #{$text-position} 0 0;
    text-align: right;

    &:after {
      left: auto;
      right: 0;

      transform-origin: right;

      //noinspection CssInvalidFunction
      background: linear-gradient(to left, #{$gradient});
    }
  }
}
